main {
    max-width: 100vw;
    z-index: 1;
    display: grid;
    grid-template-columns: 1.5fr 1.1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.left__component__img {    
    display: block;
    width: 104%;
}